<!DOCTYPE html>
<html>
<head>
  <title>Runtaoblr</title>
  <%= stylesheet_link_tag 'application',
'https://fonts.googleapis.com/css?family=Sumana:400,700',
 media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application',
'https://fonts.googleapis.com/css?family=Hind:300,600',
 media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
